@font-face {
    font-family: "iranyekan";
    src: url("../Fonts/iranyekanwebmedium.eot");
    src: url("../Fonts/iranyekanwebmedium.woff") format("woff");
    src: url("../Fonts/iranyekanwebblack.eot");
    src: url("../Fonts/iranyekanwebblack.woff") format("woff");
}

body {
    /* background-image: url('/img/Pattern.svg '); */
    font-family: 'iranyekan', tahoma, Arial;
    -webkit-font-smoothing: antialiased;
}